
## <summary>policy for usdecoin</summary>


########################################
## <summary>
##	Transition to usdecoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`usdecoin_domtrans',`
	gen_require(`
		type usdecoin_t, usdecoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, usdecoin_exec_t, usdecoin_t)
')


########################################
## <summary>
##	Execute usdecoin server in the usdecoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`usdecoin_initrc_domtrans',`
	gen_require(`
		type usdecoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, usdecoin_initrc_exec_t)
')


########################################
## <summary>
##	Search usdecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`usdecoin_search_lib',`
	gen_require(`
		type usdecoin_var_lib_t;
	')

	allow $1 usdecoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read usdecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`usdecoin_read_lib_files',`
	gen_require(`
		type usdecoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, usdecoin_var_lib_t, usdecoin_var_lib_t)
')

########################################
## <summary>
##	Manage usdecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`usdecoin_manage_lib_files',`
	gen_require(`
		type usdecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, usdecoin_var_lib_t, usdecoin_var_lib_t)
')

########################################
## <summary>
##	Manage usdecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`usdecoin_manage_lib_dirs',`
	gen_require(`
		type usdecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, usdecoin_var_lib_t, usdecoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a usdecoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`usdecoin_admin',`
	gen_require(`
		type usdecoin_t;
		type usdecoin_initrc_exec_t;
		type usdecoin_var_lib_t;
	')

	allow $1 usdecoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, usdecoin_t)

	usdecoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 usdecoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, usdecoin_var_lib_t)

')

